language: java
jdk:
  - openjdk17

# Кэш для Maven зависимостей
cache:
  directories:
    - $HOME/.m2

# Сборка и тесты
script:
  - mvn clean compile
  - mvn test

# Сборка только main ветки
branches:
  only:
    - main

# Уведомления
notifications:
  email:
    on_success: never
    on_failure: always